/*General*/

body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

/*Header*/

header {
  display: flex;
  align-items: center;
  position: fixed;
  border-bottom: 1px solid seashell;
  justify-content:space-between;
  z-index: 2;
  width: 100%;
  height: 69px;
  color: seashell;
}

header img {
  height:50px;
  padding-left: 10px;
}

nav span {
  display:inline-block;
  padding: 20px 10px;
  text-decoration: underline;
  color: seashell;
}

/* Main Content*/

.content{
  padding-top:69px;
  justify-content: center;
}

/*Mission*/

.mission{
  display:flex;
  background: black;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 50px 0;
}

.mission > *{
  width: 100%;
  background: black;
  color: white;
  text-align: center;
}

.image-content.mission {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  background-position: center;
  height: 700px;
  width:1200px;
}

/*Tea of the Month*/

.month {
  width: 960px;
  margin: auto;
  text-align: center;
}

.teas{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.month img {
  height:200px;
  width:300px;
  margin:4px;
}

/*Locations*/

.location {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
}

.image-content.locations {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
  background-position: center;
  background-size: cover;
  height: 500px;
  width: 1200px;
}

.downtown {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  background-color: black;
  opacity:1;
  margin: 20px;
}

.bayside {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  background-color: black;
  opacity:1;
  margin: 20px;
}

.oakdale {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  background-color: black;
  opacity:1;
  margin: 20px;
}

/*Footer*/

footer {
  text-align: center;
}

.info {
  display: inline-block;
}

.copyright{
  text-align: left;
}

.copyright {
  padding: 20px 0;
}
