body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color:black;
  opacity: 0.9;
}

header {
  display: flex;
  align-items: center;
  position: fixed;
  border-bottom: 1px solid seashell;
  justify-content:space-between;
  z-index: 1;
  width: 100%;
  height: 69px;
}

header img {
  height:50px;
  padding-left: 10px;
}

nav span {
  display:inline-block;
  padding: 20px 10px;
  text-decoration:underline;
  color: seashell;
}

.content{
  padding-top:69px;
}

.image-content.mission {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  height: 700px;
}

.month {
  display:flex;
  width:1000px;
  justify-content: center;
  flex-wrap: wrap;
}

.month img {
  height:200px;
  width:300px;
}

.image-content.locations {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
  height: 500px;
}
